apiVersion: radix.equinor.com/v1
kind: RadixApplication
metadata:
  name: fusion-project-portal
spec:
  build:
    useBuildKit: true
    useBuildCache: true
  environments:
    - name: feature
      build:
        from: feature/* # Any repo named feature/*whatever* will trigger this build
    - name: test
      build:
        from: main
    - name: prod
  dnsExternalAlias:
    - alias: project.fusion.equinor.com
      environment: prod
      component: webserver
      useCertificateAutomation: true
  components:
    # Backend API
    - name: backend
      identity:
        azure:
          clientId: ea425507-0de4-4f5f-bac8-48cea54f7a0c
      src: ./backend/src # Dockerfile location
      variables:
        ASPNETCORE_URLS: "http://*:5000"
        ApplicationInsights__ConnectionString: ""
        AzureAd__ClientId: ""
        Authenticator__ProjectPortalApiClientId: ""
        Swagger__ClientId: ""
        FusionPortalApi__BaseAddress: ""
        FusionPortalApi__Scope: ""
        AssetProxy__FusionPortalUrl: ""
        AssetProxy__FusionPeopleUrl: ""
        AssetProxy__TokenScope: ""
        Fusion__Environment: "ci"
      ports:
        - name: http
          port: 5000
      publicPort: http
      environmentConfig:
        - environment: feature
          identity:
            azure:
              clientId: a2d39bc8-9295-4334-ab21-603526e018e5
          secretRefs:
            azureKeyVaults:
              - name: kv-pep-api-noe-feature
                path: /mnt/key-vault
                useAzureIdentity: true
                items:
                  - name: AzureAd--ClientSecret
                    type: secret
                    envVar: AzureAd__ClientSecret
                  - name: Authenticator--ProjectPortalApiSecret
                    type: secret
                    envVar: Authenticator__ProjectPortalApiSecret
                  - name: ConnectionStrings--ProjectPortalContext
                    type: secret
                    envVar: ConnectionStrings__ProjectPortalContext
          replicas: 1
          monitoring: true
          resources:
            requests:
              memory: "2048Mi"
              cpu: "800m"
            limits:
              memory: "2048Mi"
              cpu: "800m"
        - environment: test
          identity:
            azure:
              clientId: b25cacc1-d1ec-4b2a-b215-deabb25f9a46
          secretRefs:
            azureKeyVaults:
              - name: kv-pep-api-noe-test
                path: /mnt/key-vault
                useAzureIdentity: true
                items:
                  - name: AzureAd--ClientSecret
                    type: secret
                    envVar: AzureAd__ClientSecret
                  - name: Authenticator--ProjectPortalApiSecret
                    type: secret
                    envVar: Authenticator__ProjectPortalApiSecret
                  - name: ConnectionStrings--ProjectPortalContext
                    type: secret
                    envVar: ConnectionStrings__ProjectPortalContext
          replicas: 1
          monitoring: true
          resources:
            requests:
              memory: "2048Mi"
              cpu: "800m"
            limits:
              memory: "2048Mi"
              cpu: "800m"
        - environment: prod
          identity:
            azure:
              clientId: 0520a73c-9d8c-433a-a8a4-188a1088761a
          secretRefs:
            azureKeyVaults:
              - name: kv-pep-api-noe-prod
                path: /mnt/key-vault
                useAzureIdentity: true
                items:
                  - name: AzureAd--ClientSecret
                    type: secret
                    envVar: AzureAd__ClientSecret
                  - name: Authenticator--ProjectPortalApiSecret
                    type: secret
                    envVar: Authenticator__ProjectPortalApiSecret
                  - name: ConnectionStrings--ProjectPortalContext
                    type: secret
                    envVar: ConnectionStrings__ProjectPortalContext
          replicas: 1
          monitoring: true
          resources:
            requests:
              memory: "2048Mi"
              cpu: "800m"
            limits:
              memory: "2048Mi"
              cpu: "800m"

    # Web Server (client backend)
    - name: webserver
      identity:
        azure:
          clientId: ea425507-0de4-4f5f-bac8-48cea54f7a0c
      src: . # Dockerfile location
      dockerfileName: clientBackend.Dockerfile
      variables:
        ASPNETCORE_URLS: "http://*:5000"
        ApplicationInsights__ConnectionString: ""
        AzureAd__ClientId: ""
        ClientBundle__Msal__ClientId: ""
        ClientBundle__PortalId: ""
        FusionPortalApi__BaseAddress: ""
        FusionPortalApi__Scope: ""
        AssetProxy__FusionPortalUrl: ""
        AssetProxy__FusionAppsUrl: ""
        AssetProxy__FusionPeopleUrl: ""
        AssetProxy__FusionAppsUrl: ""
        AssetProxy__TokenScope: ""
        FusionProjectPortalApi__BaseAddress: ""
        FusionProjectPortalApi__Scope: ""
        FusionBookmarks__Name: ""
        FusionBookmarks__Identifier: ""
        FusionBookmarks__Subsystem: "Project Portal"
        ClientBundle__FusionLegacyEnvIdentifier: "ci"
      ports:
        - name: http
          port: 5000
      publicPort: http
      environmentConfig:
        - environment: feature
          identity:
            azure:
              clientId: 2440e826-7642-4862-be77-2ce311780ac6
          secretRefs:
            azureKeyVaults:
              - name: kv-pep-ws-noe-feature
                path: /mnt/key-vault
                useAzureIdentity: true
                items:
                  - name: AzureAd--ClientSecret
                    type: secret
                    envVar: AzureAd__ClientSecret
          replicas: 1
          monitoring: true
          resources:
            requests:
              memory: "2048Mi"
              cpu: "800m"
            limits:
              memory: "2048Mi"
              cpu: "800m"
        - environment: test
          identity:
            azure:
              clientId: 68e0c697-b713-4cd0-b24f-c2509f442e84
          secretRefs:
            azureKeyVaults:
              - name: kv-pep-ws-noe-test
                path: /mnt/key-vault
                useAzureIdentity: true
                items:
                  - name: AzureAd--ClientSecret
                    type: secret
                    envVar: AzureAd__ClientSecret
                  - name: ClientBundle--AgGrid--LicenseKey
                    type: secret
                    envVar: ClientBundle__AgGrid__LicenseKey
          replicas: 1
          monitoring: true
          resources:
            requests:
              memory: "2048Mi"
              cpu: "800m"
            limits:
              memory: "2048Mi"
              cpu: "800m"
        - environment: prod
          identity:
            azure:
              clientId: d4f30a66-e05b-4e17-bab2-6dd43b1ef91b
          secretRefs:
            azureKeyVaults:
              - name: kv-pep-ws-noe-prod
                path: /mnt/key-vault
                useAzureIdentity: true
                items:
                  - name: AzureAd--ClientSecret
                    type: secret
                    envVar: AzureAd__ClientSecret
                  - name: ClientBundle--AgGrid--LicenseKey
                    type: secret
                    envVar: ClientBundle__AgGrid__LicenseKey
          replicas: 1
          monitoring: true
          resources:
            requests:
              memory: "2048Mi"
              cpu: "800m"
            limits:
              memory: "2048Mi"
              cpu: "800m"
