@{
    ViewData["Title"] = "Main controller";
}

<div id="root">
    HEI

    <img src="https://fusion.equinor.com/images/profiles/d42814c3-4d50-4099-9216-b02702cf7014" alt="From FUSION" width="100px" height="100px"/>
    <img src="images/profiles/d42814c3-4d50-4099-9216-b02702cf7014" alt="From PROXY" width="100px" height="100px"/>
</div>

<script>
    //var accessToken = `@ViewData["accessToken"]`;

    //window.localStorage.setItem('portal_token', accessToken);
</script>

<script type="module" crossorigin src="~/assets/portal-client-bundle.js" asp-append-version="true"></script>