<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://cdn.eds.equinor.com/font/equinor-font.css"
    />
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script>
      /**
       * When defining a custom element the browser would throw an error if already defined.
       * We would like the portal to provide the latest components
      */
      const _customElementsDefine = window.customElements.define;
      window.customElements.define = (name, cl, conf) => {
        if (!customElements.get(name)) {
          _customElementsDefine.call(window.customElements, name, cl, conf);
        } else {
          console.debug(`duplicate registration of ${name}`);
        }
      };
    </script>
    <script src="./globalResources.js"></script>   
    <title>Fusion Project Portal</title>
</head>

<body>
    @RenderBody()

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
