name: Deploy apps CI

on:
  pull_request:
  push:
    branches: ["main"]

permissions:
  actions: read
  checks: write
  contents: read
  deployments: write
  id-token: write

jobs:
  build:
    environment: non-prod
    name: Deploy
    timeout-minutes: 15
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Get fusion token
        id: "get-fusion-token"
        uses: ./.github/actions/get-fusion-token
        with:
          client-id: ${{secrets.AZURE_SP_FUSION}}
          tenant-id: ${{secrets.AZURE_TENANT_ID}}
          resource-id: ${{secrets.AZURE_FUSION_SCOPE}}

      - name: Install
        run: |
          cd client
          yarn install
          npm i -g @equinor/fusion-framework-cli
          cd apps/portal-administration
          yarn install

      - name: Build
        run: |
          cd client
          yarn build

      - name: Deploy
        run: |
          cd client/apps/portal-administration
          yarn bundle
          curl -T "app-bundle.zip" -H "Authorization: bearer ${{steps.get-fusion-token.outputs.token}}" -H "Content-Disposition: attachment; filename=app-bundle.zip" -H "Content-Type: application/zip" -X POST --show-error -i --url https://fusion-s-portal-ci.azurewebsites.net/api/apps/portal-administration/versions

      - name: Publish
        run: |
          curl -H "Authorization: bearer ${{steps.get-fusion-token.outputs.token}}" -X POST --show-error -i --url https://fusion-s-portal-ci.azurewebsites.net/api/apps/portal-administration/publish
