name: Deploy portal-administration CI

on:
  push:
    branches: ["main"]
    paths:
      - "client/apps/portal-administration/**"

permissions:
  actions: read
  checks: write
  contents: read
  deployments: write
  id-token: write

jobs:
  build:
    environment: non-prod
    name: Deploy
    timeout-minutes: 15
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "20"

      - name: Get fusion token
        id: "get-fusion-token"
        uses: ./.github/actions/get-fusion-token
        with:
          client-id: ${{secrets.AZURE_SP_FUSION}}
          tenant-id: ${{secrets.AZURE_TENANT_ID}}
          resource-id: ${{secrets.AZURE_FUSION_SCOPE}}

      - name: Install
        run: |
          cd client/apps/portal-administration
          npm i -g @equinor/fusion-framework-cli
          yarn install

      - name: Deploy
        run: |
          cd client/apps/portal-administration
          fusion-framework-cli app build-publish -e ci
