name: Lint project files

on:
  pull_request:
    branch:
      - main

jobs:
  eslint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: [16, 18]

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
        with:
          fetch-depth: "0"

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.version }}
          cache: "yarn"

      - name: Install Node Dependencies
        run: cd client && yarn install --frozen-lockfile

      - name: Save Code Linting Report JSON
        if: ${{ github.actor != 'dependabot[bot]' }}
        run: cd client  && yarn lint --max-warnings 0;

      - name: Annotate Code Linting Results
        if: ${{ github.actor != 'dependabot[bot]' }}
        uses: ataylorme/eslint-annotate-action@1.1.2
        continue-on-error: true
        with:
          repo-token: "${{ github.token }}"
          report-json: "eslint-report.log.json"

      - name: Upload ESLint report
        if: ${{ github.actor != 'dependabot[bot]' }}
        uses: actions/upload-artifact@v2
        continue-on-error: true
        with:
          name: eslint-report.log.json
          path: eslint-report.log.json
